<mat-card class="signupcard">
  <form> 
    <label for='vendorName'>
      <input type='text' #vendorName required class="info" placeholder="VENDOR NAME" />
    </label>
    <label for='email'>
      <input type="text" #email required class="info" placeholder="EMAIL" />
    </label>
    <label class='password'>
      <input type="password" #password required class="info" placeholder="PASSWORD" />
    </label>
    <mat-card-actions>  
      <button mat-flat-button color="accent" type="submit" (click)=signup(vendorName.value,email.value,password.value) class="button">Sign up</button>
      <br />
      <span>Already have an account? <a routerLink='/auth'>Login here</a></span>
    </mat-card-actions>
  </form>
</mat-card>