<h5>More information</h5>
<div *ngFor="let market of markets">
    <div class="container">
        <div class="details">
          <h4 class="marketName">Name: {{market.marketName}}</h4>
          <p class='description'>Neighborhood: {{market.neighborhood}}</p>
          <p class='price'>Hours: {{market.startTime}} - {{market.endTime}}</p>
          <p class='price'>{{market.startDate}} - {{market.endDate}}</p>
          <p class='image'>Address: {{market.address}}</p>
        </div>
  <!-- <p>{{markets | json }}</p> -->
</div> 
