<mat-card class="marketcard" *ngFor="let market of markets">
  <mat-card-title class="marketName">{{market.marketName}}</mat-card-title>
  <mat-card-content>
    <p class='description'>Neighborhood: {{market.neighborhood}}</p>
    <p class='price'>Hours: {{market.startTime}} - {{market.endTime}}</p>
    <p class='price'>{{market.startDate | date}} - {{market.endDate | date}}</p>
    <p class='image'>Address: {{market.address}}</p>
  </mat-card-content>
  <!-- <p>{{markets | json }}</p> -->
</mat-card> 
